.cart-container {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    margin-left: 20px;
}

.cart-icon {
    display: inline-block; 
    transition: transform 0.2s ease;
}

.cart-container:hover .cart-icon {
    transform: scale(1.2);
}

.bubble {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
}