.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);  
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #b3e5fc;
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.3s;
}

.logo-container:hover {
  background-color: #bbdefb;
}

.logo-top {
  font-size: 18px;
  font-weight: bold;
  color: #1565c0;
  line-height: 1;
  letter-spacing: 2px;
}

.logo-bottom {
  font-size: 14px;
  font-weight: bold;
  color: #1565c0; 
  line-height: 1;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex: 1;
}

.link {
  text-decoration: none;
  color: #555;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
  padding-bottom: 2px;
  white-space: nowrap;
}

.link:hover {
 font-weight: 500;
 transition: color 0.3s;  color: #1a56db;
}

.link.active {
  color: #1565c0; 
  font-weight: bold;;
}

.navbar-cart {
  margin-left: auto;
  flex-shrink: 0;
}
